    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>created&nbsp;at</th>
            <th>level</th>
            <th>message</th>
        </tr>
        </thead>
        <tbody>
        {{#each logs}}
        <tr>
            <td>{{ this.created_at }}</td>
            <td>{{ this.level }}</td>
            <td>{{ this.message }}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>